<!-- tasks.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openTaskModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-task-filter
    [filterStatus]="filterStatus"
    [selectedCategoryId]="selectedCategoryId"
    [categories]="categories"
    (statusChange)="onFilterStatusChange($event)"
    (categoryChange)="onCategoryChange($event)"
    (clearCategory)="resetCategoryFilter()"
  ></app-task-filter>
</ion-header>

<ion-content>
  <app-task-list
    [tasks]="filteredTasks"
    [categories]="categories"
    (edit)="openTaskModal($event)"
    (delete)="deleteTask($event)"
    (toggle)="toggleTaskCompletion($event)"
  ></app-task-list>
</ion-content>
