<ion-list>
  <ion-item-sliding *ngFor="let category of categories">
    <ion-item>
      <ion-label>
        <h2>{{ category.name }}</h2>
      </ion-label>
      <div
        slot="start"
        [style.background]="category.color"
        style="width: 20px; height: 20px; border-radius: 50%"
      ></div>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="primary" (click)="edit.emit(category)">
        <ion-icon name="create"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" (click)="delete.emit(category.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
