<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-icon [name]="icon" slot="start"></ion-icon>
      {{ title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none" *ngIf="tasks.length > 0; else emptyTemplate">
      <ion-item *ngFor="let task of tasks" (click)="onTaskClick(task.id)">
        <ion-checkbox
          slot="start"
          [checked]="task.completed"
          (ionChange)="onToggleTask(task.id)"
        ></ion-checkbox>
        <ion-label>{{ task.title }}</ion-label>
      </ion-item>
    </ion-list>
    <ng-template #emptyTemplate>
      <p class="ion-text-center">{{ emptyMessage }}</p>
    </ng-template>
  </ion-card-content>
</ion-card>
