<ion-header>
  <ion-toolbar>
    <ion-title>{{
      category.id ? "Editar Categoría" : "Nueva Categoría"
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      [(ngModel)]="category.name"
      placeholder="Nombre de la categoría"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Color</ion-label>
    <div class="color-preview" [style.background]="category.color"></div>
  </ion-item>

  <div class="color-grid">
    <div
      *ngFor="let color of colorOptions"
      class="color-option"
      [style.background]="color"
      [class.selected]="category.color === color"
      (click)="category.color = color"
    ></div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        (click)="onSave()"
        [disabled]="!category.name.trim()"
        strong
        id="save-category-button"
      >
        Guardar
      </ion-button>
      <ion-toast
        trigger="save-category-button"
        message="The category {{ category.name }} has been saved.! "
        [duration]="1250"
      ></ion-toast>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
